*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

.container{
   max-width: 60%;
   margin: 0 auto;
}

body{
    height: 1700px;
    img{
        width: 100%;
        height: 80px;
    }
}

$header-back: #00193c;
$header-color:white;

@mixin block-box{
    display: flex;
    height: 45px;
    justify-content: space-between;
    align-items: center;
}


header{
    width: 100%;
    height: auto;
    align-items: center;
    background-color:$header-back;
    box-shadow: 0 3px 3px rgb(0 0 0 / 40%);
    background-image: url(./image/header.webp);
    position: sticky;
    top: 0;
    z-index: 1000;

.header{
   
    @include block-box;
    .logo a{
        width: 100%;
        text-decoration: none;
        font-size: 40px;
        font-weight: 600;
      
    }
    .logo a::after{
        content: '';
        display: inline-block;
        background-image: url(./image/xb64.webp);
        width: 35px;
        height: 35px;
        background-size: cover;
        margin-left: 10px;
        
      
    }
    .social {
        @include block-box;
       
        input{
            background-color: $header-back;
            height: 30px;
        }
        button{
            background-color: $header-back;
        }
        .header-right{
            position: relative;
            button{
                position: absolute;
                right: 42px;
                top: 7px;
            }
            input{
                text-indent: 10px;
            }
        }
    }


 a, input{
       color: $header-color;
       margin-left: 10px;
       i{
        font-size: 20px;
       }
    }
    i{
       color: $header-color;
    }

   .header-right{
        background-color: $header-back;
        background-image: url(./image/header.webp);
    input{
        border: 1px solid $header-color;
    }
    button{
        border: none;
    }
    button::after{
        content:icon;
    }

    }

    .mobile-menu{
        display: none;
        nav{

            ul {
                position: absolute;
                top: 45px;
                left: 0;
                width: 200px;
                height: 600px;
                li{
                font-size: 20px;
                font-weight: 700;
                color: $header-color;
                background-color: $header-back;
                background-image: url(./image/header.webp);
                height: 60px;
                align-items: center;
                padding-top: 15px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.222);
            }
        }
    }
}  

}

   .nav-bar{
    background-color: #222;
    box-shadow: 0 3px 3px rgb(0 0 0 / 40%);
   

    ul{
        @include block-box;
        li {
            list-style-type: none;
            a,i{
            text-decoration: none;
            color: $header-color;
            list-style-type: none;
        }
        
    }
  }
 } 

}

// introduction
    
   .cards{
       
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
       
     
        

        .main-card {
          width: 623px;
          height: 460px;
          position: relative;
          figure{
                img{
                max-width: 100%;
                height: 460px;
            }
            span{
                width: 50%;
                height: 50px;
                align-items: center;
                padding-top: 10px;
                text-align: left;
                font-weight: 700;
                color:$header-color;
                background-color: rgba(24,148,160,.8);
                position: absolute;
                left: 0;
                bottom: 150px;
            }
            p {
                background-color: rgba(34, 34, 34, 0.942);
                width: 100%;
                height: 74px;
                align-items: center;
                padding-top: 12px;
                font-weight: 500;
                font-size: 25px;
                color: $header-color;
                text-indent: 20px;
                position: absolute;
                left: 0;
                bottom: 0;
            } 
            .right{
                position: absolute;
                top: 150px;
                right: 30px;
                color: $header-color;
                font-size: 80px;
                cursor: pointer;


            } 
            .left{
                position: absolute;
                top: 150px;
                left: 30px;
                color: $header-color;
                font-size: 80px;
                cursor: pointer; 

            }
          } 

        }
    
        .second-card{
            width: 300px;
            height: 460px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            display: block;
            figure{
                img{
                width: 100%;
                height: 228px;
                }
            
            }
            
           
            }
        }



// news


.news{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: auto;

    figure{
        margin: 5px;
        width: 290px;
        height: 430px;
        background-color: $header-color;
        border: 1px solid rgba(128, 128, 128, 0.275);
        position: relative;
        img{
            width: 100%;
            height: 200px;
        }
        figcaption{
            color: #13317f;
            font-size: 20px;
            font-weight: 700;
            line-height: 1.5;
            height: 180px;
            text-align: left;
            padding: 40px 0 0 20px;
        }
        .date{
            display: flex;
            flex-direction: column;
            color: $header-color;
            width: 20%;
            position: absolute;
            top: 0;
            left: 0;
        .month{
            background-color: rgba(24,148,160,.8);
            height: 40px;
            padding: 2px 5px 5px 12px;
        }
          .time{
            background-color: #334564;
            text-align: center;
          }
            
        }
        .card-bottom{
            
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 1px solid #aaa;
            color: #aaa;
            font-weight: 200;
            font-size: 16px;
            text-align: center;
            cursor: pointer;
   
            .like{
            width: 100%;
            height: 43px;
            border: none;
            background-color:white;
            color:#aaa; 
            border-right: 1px solid #aaa;
            text-align: center;
            padding-top: 10px;
            }
            .like:hover{
                background-color:green;
                color: $header-color;
            }
            .unlike{
            width: 100%;
            height: 43px;
            border: none;
            background-color:white;
            color:#aaa; 
            border-right: 1px solid #aaa;
            text-align: center;
            padding-top: 10px;
            }
            .unlike:hover{
                background-color: red;
                color: $header-color;
            }
            .eyes{
                width: 100%;
                height: 43px;
                border: none;
                background-color:white;
                color:#aaa; 
                border-right: 1px solid #aaa;
                padding-top: 10px;

            }
        }
      
    }
    figure:hover{
        
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
   
}










@media screen and (max-width: 768px){
    body{
        .banner{
            display: none;
        }
    }
    .header{
        .logo a{
             display: inline-block;
        }
        a{
            display: none;
        }
     .header-right {
        input{
            display: none;
        }
        button{
            display: inline-block;
        }
       a{
        display: inline-block;
       }
     }
     .mobile-menu{
        display: inline-block !important;
        i{
            display: inline-block !important;
        }
        // for the list pls change to display block
        ul{
            display: none;    
        }
    }
}
.nav-bar{
    display: none;
}
.cards{
   background-color: yellow;

   .main-card {
    display: inline-block;
   
   figure{
     img{
       width: 100%;   
    }
}
       

}
.second-card {
    display: none !important;
}
}
}


